<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <form method="post" action="/memos/<%= params[:id] %>">
    <p>
    タイトル:
    <input type="text" name="title" size="30" value="<%= @title %>">
    </p>
    <p>メモ：<br>
    <textarea name="memo" cols="30" rows="5" placeholder="<%= @memo %>"></textarea></p>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="変更">
  </form>
</body>
</html>
