<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <form method="post" action="/memos">
      <div class="form">
      <p>タイトル：<input type="text" name="title" size="30"></p>
      <p>メモ：<br>
      <textarea name="memo" cols="30" rows="5"></textarea></p>
      <button>保存</button>
    </div>
  </form>
</body>
</html>
