<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <form method="get" action="/memos/new">
  <button class="add" type="submit">追加</button>
  </form>
  <ul>
    <% @memos.each do |memo| %>
      <li>
        <a href="/memos/<%= memo["id"] %>"><% memo['title'].encode("utf-8") %><%= h(memo["title"]) %></a>
      </li>
    <% end %>
  </ul>
</body>
</html>
